:root {
  --any-table-shadow: 7px -4px 12px 2px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem=10px;
  scroll-behavior: smooth;

  @media only screen and (max-width: 1850px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 1800px) {
    font-size: 49%;
  }
  @media only screen and (max-width: 1750px) {
    font-size: 47%;
  }
}
body {
  position: relative;
}

button {
  cursor: pointer;
}
